FRONTEND_URL=
NODE_ENV=
PORT=
SWAGGER_ROUTE=
SWAGGER_TITLE=
SWAGGER_DESCRIPTION=
SWAGGER_VERSION=
SWAGGER_SERVERS=
DATABASE_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_USER=
REDIS_TTL=
RENIEC_REDIS_DB=
RENIEC_DATABASE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=
AWS_S3_BUCKET=

# SCRAPPING SUNAT
URL_SCRAPPING_SUNAT=
API_KEY_SCRAPPING_SUNAT=
RENIEC_API_URL
RENIEC_USER=
RENIEC_PASSWORD=
API_URL_UBIGEOS=



